body {
	height: 100%;
	background: linear-gradient(to bottom right, #cc0099 1%, #9999ff 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Lucida Console', "Courier New", monospace;
    overflow: hidden;
}

#speed {
    position: absolute;
    height:75%;
    width:75%;
    left: 12.5%;
    top: 12.5%;
    background-color: #cc000a;
}